[submodule "nw_library"]
	path = nw_library
	url = https://github.com/Natlys/nw_library.git
[submodule "nw_glib"]
	path = nw_glib
	url = https://github.com/Natlys/nw_glib.git
[submodule "nw_console"]
	path = nw_console
	url = https://github.com/Natlys/nw_console.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/glad"]
	path = ext/glad
	url = https://github.com/Dav1dde/glad
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/TheCherno/imgui.git
